* {
    box-sizing: border-box;
}
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    background-color:#808080;
}
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
}
header {
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 253, 253);
    color: white;
}
header > img {
    width: 20%;
    height: auto;
    float: right;
}
img {
    width: 60%;  
}
nav > div {
    text-align: center;
    flex: 1;
}
footer {
    background-color: gainsboro;
    margin: 10px;
    padding: 10px;
    }